.slot {
  border-radius: 5px;
  height: var(--slot-height);
  padding: var(--slot-padding);
  margin: 5px;
  overflow: hidden;
  overflow-x: hidden;

  color: var(--black);
}

.slot-a {
  background-color: var(--slotA);
}
.slot-b {
  background-color: var(--slotB);
}

.is-favorite {
  border: inset 3px gold;
  margin: 2px;
}

.band {
  font-size: 1.2rem;
  overflow: scroll;
  white-space: nowrap;
}

.time {
  font-size: 1rem;

  /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.end {
  text-align: right;
}
