.app {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
  border-bottom: 2px solid var(--slotA);

  display: flex;
  justify-content: space-between;

  span {
    padding: 10px;
    margin: 1px;
    font-size: 150%;
  }

  .info {
    filter: saturate(30%);
  }
}

.content {
  flex-grow: 1;
  flex-basis: fit-content;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
