/* TODO separate by scene and day */

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: scroll;
}

.slots-columns {
  display: flex;
  overflow-y: scroll;
  align-items: flex-start;
}

.slots-by-scene-with-header {
  flex: 1 1;
  overflow-x: hidden;
  flex-direction: column;
  /* TODO see when filled with complete running order if needed */
  /* background-color: var(--anthracite); */
  /* border-radius: 8px; */
}

.header-scene-name {
  padding: 3px;
  h2 {
    color: var(--motoc-purple);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}

.slots {
  display: flex;
  flex-direction: column;
  overflow-y: visible;
}

.slots-menu-footer {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  align-items: stretch;
  /* justify-content: space-between; */
  gap: 0px;

  font-size: 100%;
  padding: 0px 5px;
  border-radius: 8px;
  border: 2px solid var(--motoc-dark-red);
  border-bottom-style: none;
}

.toggle-favorites-only {
  margin-left: 20px;
  background-color: transparent;
  border: 2px solid gold;
  border-radius: 100%;
  padding: 0.2rem 0.3rem 0.4rem 0.4rem;
  margin: 5px 0px;
  margin-left: 10px;
  font-size: 100%;
  /* padding-left: 0.5%; */

  &:active {
    transform: translateY(1px);
  }
}
.favorite-toggle-disabled {
  border-color: var(--motoc-dark-red);
  color: transparent;
  text-shadow: 0 0 0 #cc2e75;
  filter: saturate(00%);
}

app-day-button {
  flex: 1 1;
  overflow-x: hidden;
  &.isAll {
    flex: 0.51 0.5;
  }

  border: 1px dotted white;
}
