/* You can add global styles to this file, and also import other style files */

/* MAIN COLOR PALETTE*/
:root {
  --black: #010000ff;
  --anthracite: #1e2127;
  --ultra-violet: #6c628cff;
  --wisteria: #b7a3e7ff;
  --african-violet: #a291c8ff;
  --eggplant: #764665ff;

  --slotA: #4f8883;
  --slotB: #c0a5ff;
  --motoc-dark-red: #aa3b5b;
  --motoc-purple: #c0a5ff;

  background-color: var(--black);
  color: white;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* TODO starry night background ? */
