/* You can add global styles to this file, and also import other style files */

/* MAIN COLOR PALETTE*/
:root {
  --black: #010000ff;
  --anthracite: #1e2127;
  --ultra-violet: #6c628cff;
  --wisteria: #b7a3e7ff;
  --african-violet: #a291c8ff;
  --eggplant: #764665ff;

  --slotA: #4f8883;
  --slotB: #c0a5ff;
  --motoc-dark-red: #aa3b5b;
  --motoc-purple: #c0a5ff;

  --motoc-font: "MarvinVisionsBig";
  --motoc-letter-spacing: 0.04em;

  background-color: var(--black);
  color: white;
  font-family: var(--motoc-font);
  letter-spacing: var(--motoc-letter-spacing);

  --slot-height: 60px;
  --slot-padding: 10px;
}

html,
body {
  height: 100dvh;
  /* width: 100dvh; */
  margin: 0;
  padding: 0;
}

.clickable-div {
  cursor: pointer;

  /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hide-scrollbars {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: MarvinVisionsBig;
  src: url(app/my-motocultor/assets/MarvinVisions-Bold.woff2);
}

/* TODO starry night background ? */
