/* You can add global styles to this file, and also import other style files */

/* MAIN COLOR PALETTE*/
:root {
  --black: #010000ff;
  --ultra-violet: #6c628cff;
  --wisteria: #b7a3e7ff;
  --african-violet: #a291c8ff;
  --eggplant: #764665ff;

  --slotA: #4F8883;
  --slotB: #C0A5FF;
  --motoc-dark-red: #AA3B5B;
  --motoc-purple: #C0A5FF;

}

/* TODO starry night background ? */